html,body,#__next,main {
    font-family: 'Rubik', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    width: 65vw;
    height: 90vh;
    margin: 0;
    padding: 0;
}


